.header {
    /* Auth=no, Category=off */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    isolation: isolate;

    position: absolute;
    height: 136px;
    left: 20px;
    top: 20px;
    right: 20px;

    /* Light / Surfaces / Header */
    background: #FFFFFF;
    /* Light / Surfaces / Border */
    border-bottom: 1px solid #E2E8F0;
}

.header__top-line {
    /* Frame 172 */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-bottom: 24px;

    height: 52px;

    /* Light/Text/Default-Text */
    background: #1E293B;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
}

.header__top-line-content {
    /* Frame 168 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 8px 0px;
    gap: 222px;

    width: 95%;
    height: 36px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__buttons {
    /* Frame 169 */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 273px;
    height: 36px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__sign-in {
    /* Button */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 8px;

    width: 70px;
    height: 36px;

    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__sign-in img {
    /* person */
    width: 16px;
    height: 16px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__sign-in span {
    /* Placeholder */
    width: 42px;
    height: 20px;

    /* Text/sm/normal-400 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Light / Text / Inverse-Text */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__create-advert {
    /* Button */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 179px;
    height: 32px;

    /* Light/Utility/Primary */

    background: #3B82F6;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__create-advert span {
    /* Placeholder */
    height: 20px;

    /* Text/sm/medium-500 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Light / Text / Inverse-Text */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__create-advert img {
    /* plus */
    width: 10px;
    height: 10px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.header__board-search {
    /* Frame 170 */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 24px;
    gap: 24px;

    width: 100%;
    height: 36px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 1;
}

.header__board-search>span {
    /* Доска объявлений */
    width: 284px;
    height: 36px;

    /* Heading / h3 / bold-700 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height, or 120% */


    /* Light/Text/Default-Text */

    color: #1E293B;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__filter {
    /* Категории и поиск */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    height: 36px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.header__categories {
    /* Button */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 152px;
    height: 36px;

    /* Light/Utility/Primary */

    border: 1px solid #3B82F6;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__categories img {
    /* list-nested */
    width: 20px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__categories span {
    /* Placeholder */
    width: 100px;
    height: 20px;

    /* Text/sm/medium-500 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Light/Text/Primary-Text */
    color: #3B82F6;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__search {
    /* Поиск */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    height: 36px;

    /* Light/Text/Primary-Text */
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.header__search-input {
    /* Input */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    height: 36px;

    border-radius: 4px 0px 0px 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px -1px;
}

.header__search-input input[type="text"] {
    /* Frame 148 */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;

    height: 36px;

    /* Light / Forms / Background */
    background: #FFFFFF;
    /* Light / Forms / Border */

    border: 1px solid #CBD5E1;
    border-radius: 4px 0px 0px 4px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.header__search-btn {
    /* Button */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 91px;
    height: 36px;

    /* Light/Utility/Primary */

    background: #3B82F6;
    border-radius: 0px 4px 4px 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__search-btn span {
    /* Placeholder */
    width: 43px;
    height: 20px;

    /* Text/sm/medium-500 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Light / Text / Inverse-Text */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__search-btn img {
    /* search */
    width: 16px;
    height: 16px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}



/********************************************************************************************************************************/

body {
    /* Главная */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    /* Light / Forms / Background */
    background: #FFFFFF;
}

.main {
    /* Auth=no, Category=off */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;

    position: absolute;
    left: 20px;
    top: 156px;
    right: 20px;

    /* Light / Surfaces / Header */
    background: #FFFFFF;
}

.main__recomendations>p {
    /* Рекомендации для вас */
    width: 1296px;
    height: 32px;
    margin: 24px 0px;

    /* Heading / h4 / semibold-600 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    /* Light/Text/Default-Text */
    color: #1E293B;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.main__list {
    /* Строка объявлений */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main__list-element {
    /* Карточка объявления */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 306px;
    height: 336px;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
}

.main__list-element img {
    /* Картинка */
    width: 306px;
    height: 240px;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main__description {
    /* Описание */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 306px;
    height: 88px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.main__description-name {
    /* Наименование */
    width: 306px;
    height: 24px;

    /* Heading/h6/semibold-600 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    /* Light/Text/Primary-Text */
    color: #3B82F6;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main__description-price {
    /* Цена */
    width: 306px;
    height: 24px;

    /* Heading/h6/semibold-600 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    /* Light/Text/Default-Text */
    color: #1E293B;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.main__description-address {
    /* Адрес */
    width: 306px;
    height: 20px;

    /* Text/sm/normal-400 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Light / Text / Secondary-Text */
    color: #64748B;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.main__description-date {
    /* Дата/время */
    width: 306px;
    height: 20px;

    /* Text/sm/normal-400 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Light / Text / Secondary-Text */
    color: #64748B;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}